.create-page {
  display: flex;
  align-content: center;
  padding-top: 100px;
  padding-bottom: 140px;
  padding-left: 100px;
  background-color: #454851;
  align-items: center;
}

.create-image{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  
}

.create-pic {
  border-radius: 30px;
  height: 31vw;
  margin-top: 40px;
}
.create-form {
  display: flex;
  flex-direction: column;
  max-width: 35vw;
  justify-content: center;
  margin-left: 150px;
  padding: 50px;
  justify-self: center;
  background-color: #33353C;
  border-radius: 20px;
  border: 2px solid #73D499;
}

.label {
  font-size: 20px;
}

button {
  margin-top: 10px;
}

input[type='text']{
  width: 200px;
  padding-left: 5px;
  margin-left: 15px;
}

input:active{ 
  background-color: #73D499;
}

.create-form div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
}

.create-form button{
  margin-left: 120px;
}
