.recently-added {
  display: inline-flex;
  height: 320px;
  width: 250px;
  flex-direction: column;
  /* justify-items: center; */
  color: white;
  background-color: #33353C;
  border-radius: 20px;
  font-size: 12px;
  font-family: "Lato", sans-serif;
}

.recently-added h2{
  align-self: center;
}


.carousel .slide{
  background: transparent;
}

.carousel-root{
  width: 200px;
  align-self: center;
}

.slide-selected{
  width: 10vw;
  z-index: 0;
}

.slide{
  display: flex;
  align-items: center;
}

.thumbs{
  padding-left: 150px;
}

button{
  height: 100%;
  background-color: black;
  align-self: center;
}

.album-title, .artist{
  background-color: transparent;
  /* white-space: nowrap; */
  overflow: hidden;
  /* text-overflow: ellipsis; */
  width: 200px;

}
.album-title{
  padding-top: 5px;
  /* z-index: 1; */
  /* margin-top: 10px; */
}

.artist{
  /* z-index: 1; */
  /* padding-top: 10px; */
  padding-bottom: 5px;
  font-size: 18px;
}

.album-art {
  width: 200px;
}