.recently-added {
  width: 40vw;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-items: center;
  height: 50%;
  color: #73D499;
  background-color: #33353C;
  padding-top: 30px;
}

.recently-added h2{
  align-self: center;
}

.recently-added, .slide {
  background-color: #33353C;
}

.slide-selected{
  width: 10vw;
  z-index: 0;
}

.slide{
  display: flex;
  align-items: center;
}

.thumbs{
  padding-left: 150px;
}

button{
  height: 100%;
  background-color: black;
  align-self: center;
}


.album-title{
  padding-top: 10px;
  z-index: 1;
}

.artist{
  z-index: 1;
  padding-bottom: 10px;
}