.recently-added {
  /* width: 30vw; */
  display: inline-flex;
  height: 320px;
  width: 250px;
  flex-direction: column;
  justify-items: center;
  color: #73D499;
  background-color: #33353C;
  border-radius: 20px;
  font-size: 12px;
  /* margin-top: 30px;
  margin-left: 5vw; */
  font-family: "Lato", sans-serif;
}

.recently-added h2{
  align-self: center;
}


.carousel .slide{
  background: transparent;
}

.carousel-root{
  width: 200px;
  align-self: center;
}

.slide-selected{
  width: 10vw;
  z-index: 0;
}

.slide{
  display: flex;
  align-items: center;
}

.thumbs{
  padding-left: 150px;
}

button{
  height: 100%;
  background-color: black;
  align-self: center;
}

.album-title, .artist{
  background-color: transparent;
}
.album-title{
  padding-top: 5px;
  z-index: 1;
}

.artist{
  z-index: 1;
  /* padding-top: 10px; */
  padding-bottom: 5px;
  font-size: 18px;
}