.sign-up-body{
  height: 764px;
  background-color: #454851;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.form-container-up {
  background-color: #33353c;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.sign-up{
  margin-bottom: 15px;
  color: white; 
  font-size: x-large;
  position: relative;
  top: -5px;
  
}

.sign-up-form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.email{
  height: 20px;
  margin-left:5px
}

.sign-up-username{
  height: 20px;
  margin-left:5px
}

.sign-up-password{
  height: 20px;
  margin-left:5px
}

.password-confirmation{
  height: 20px;
  margin-left:5px

}

.sign-up-button{
  border-radius: 10px;
  background-color: #73D499;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  position: relative;
  top: -5px;
}

.sign_up_button_slide{
  width: 100px;
  height: 20px;
  grid-area: B;
  height: 50px;
  color: black;
  background-color: #73d499;;
  outline: none;
  border: none;
  border-radius: 20px;
  display: inline-block;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.sign_up_slide_right:hover {
  box-shadow: inset 100px 0 0 0 #ffffff;
}

.sign-up-username-div{
  margin-bottom: 10px;
  position: relative;
  top: -5px;
}

.email-div{
  margin-bottom: 10px;
  position: relative;
  top: -5px;
}

.password-confirmation-div{
  margin-bottom: 10px;
  position: relative;
  top: -5px;
}


.sign-up-password-div{
  margin-bottom: 10px;
  position: relative;
  top: -5px;
}