.songs-explore {
  background-color: #454851;
  display: flex;
  max-width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.filter-sort-container-explore {
  background-color: #454851;
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  padding: 30px 100px 0 80px;
  align-items: center;
  height: 50px;
}
