.image-container{
  display:flex;
  flex-direction: column;
  width: 800px;
  box-shadow: 0 0 3px black;
  border-radius: 20px;
}

.tagline{
  align-self: flex-start;
  font-size: 30px;
  color: #ffffff;
  width: 100%;
  font-weight: bold;
  padding-bottom: 5px;
}

.images {
  overflow: hidden;
  display: inline-flex;
  height: 500px;
  width: 800px;
  object-fit: cover;
  align-items: center;
  border-radius: 20px;
}

.slide img{
  border-radius: 20px;
}