.image-container{
  display:flex;
  flex-direction: column;
  /* width: 20vw;
  padding-top: 60px;
  padding-left: 20vw; */
  width: 600px;
}

.tagline{
  align-self: flex-start;
  font-size: 30px;
  color: #ffffff;
  width: 100%;
  font-weight: bold;
  padding-bottom: 5px;
}

.images {
  overflow: hidden;
  display: inline-flex;
  height: 400px;
  width: 600px;
  object-fit: cover;
  /* width: 30vw; */
  /* padding-left: 50px; */
  align-items: center;
  border-radius: 20px;
  /* padding-top: 10px; */
}

.slide img{
  border-radius: 20px;

}