.sign-in-body{
  height: 82vh;
  background-color: #454851;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #33353c;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.sign-in{
  margin-bottom: 15px;
  color: white; 
  font-size: x-large;
  position: relative;
  top: -5px;
}

.sign-in-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username-div{
  
  margin-bottom: 10px;
  position: relative;
  top: -5px;
  right: 35px;
}

.password-div{
  margin-bottom: 10px;
  position: relative;
  top: -5px;
  right: 35px;
}

.sign-in-button{
  border-radius: 10px;
  background-color: #73D499;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  position: relative;
  top: -5px;
}

.label{
  font-size: small;
  margin-right: 5px;;
}

.password{
  position: relative;
  left: 2px;
  height: 20px;
  
}

.username{
  height: 20px;
  
}