.sign-in-body{
  height: 764px;
  background-color: #454851;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.form-container {
  background-color: #33353c;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 3px black;

}

.sign-in{
  margin-bottom: 15px;
  color: white; 
  font-size: x-large;
  position: relative;
  top: -5px;
}

.sign-in-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.username-div{
  margin-bottom: 10px;
  position: relative;
  top: -5px;
  right: 35px;
}

.password-div{
  margin-bottom: 10px;
  position: relative;
  top: -5px;
  right: 35px;
}

/* .sign-in-button{
  border-radius: 10px;
  background-color: #73D499;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  position: relative;
  font-family: "Lato", sans-serif;
  top: -5px;
} */

/* based on https://codepen.io/RazorXio/pen/gMaoOW */
.sign_in_button_slide{
  width: 100px;
  height: 20px;
  grid-area: B;
  height: 50px;
  color: black;
  background-color: #73d499;;
  outline: none;
  border: none;
  border-radius: 20px;
  display: inline-block;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.sign_in_slide_right:hover {
  box-shadow: inset 100px 0 0 0 #ffffff;
}



.login_to_edit{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}



.label{
  font-size: small;
  margin-right: 5px;
}

.password{
  position: relative;
  left: 2px;
  height: 20px;

}

.username{
  height: 20px;
}




