.recently-added {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-top: 10px;
  padding-right: 10px;
  background-color: black;
}

.slide-selected{
  width: 10vw;
  z-index: 0;
}


.slide{
  display: flex;
  align-items: center;
}

.carousel .slider-wrapper {
  width: 50%;
}

.thumbs{
  padding-left: 150px;
}

button{
  height: 50px;
  background-color: black;
  align-self: center;
}

.album-title{
  z-index: 1;
}

.artist{
  z-index: 1;
}
