.home-body{
  height: vh;
  display: flex;
  background-color: #454851;
  
}

.home-carousels{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.home-carousel-songs{
  box-shadow: 0 0 3px black;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}

.home-carousel-songs2{
  box-shadow: 0 0 3px black;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.home-text-images{
  height: 670px;
  width: 800px;
  margin-right: 130px;
  margin-bottom: 80px;
  border-radius: 20px;
}

.welcome-text{
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  font-weight: 400;
  color: #FCEFF9;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.4;
}

@media only screen and (max-width: 1220px) {
  
  .home-body{
    height: 1500px;
    padding: 0;
  }

  .welcome-text {
    margin: 0;
  }

  .home-carousels{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .home-text-images{
    grid-area: T;
    height: 670px;
    width: 800px;
    border-radius: 20px;
    margin: 0 0 20px 0;
  }
  .songCarousels {
    grid-area: C;
    width: 270px;
    margin: 0;
  }
}